// Styles
@import "FAQs/styles.scss";
@import "Modal/styles.scss";
@import "Stats/styles.scss";
@import "Header/styles.scss";
@import "OutcomeStats/styles.scss";

.stats-section-name {
  margin-left: 1.25rem;
}

.float-skyblue-box {
  top: 0;
  right: 0;
  z-index: -1;
  min-width: 24%;
  max-width: 100px;
  background-color: #e8f4ff;
  min-height: calc(100% + 1.25rem);
}

%statsSection_separator {
  & .separator {
    min-height: 1px;
    background-color: transparent;
    border-bottom: 1px solid #d9d9d9;
  }
}

.stats-section {
  row-gap: 0.85rem;

  @extend %statsSection_faqs;
  @extend %statsSection_stats;
  @extend %statsSection_header;
  @extend %statsSection_separator;
  @extend %statsSection_outcomeStats;

  & .message-box {
    display: flex;
    min-height: 128px;
    margin: 0 1.25rem;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 1.85rem;
  }
}
